@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #181A4D;
  color: var(--foreground);
  font-family: Helvetica, sans-serif;
}

.outline-text {
  color: transparent; /* màu chữ */
  -webkit-text-stroke: 2px #004dee; /* viền chữ */
  /* font-size: 60px; */
  font-weight: 900;
}


/* to use this: put this in class name: "animate-[infinite-scroll_10s_linear_infinite]" */
@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    /* Translate the entire width of the original content */
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 30s linear infinite; /* Adjust duration as needed */
}

/* Optional: Pause animation on hover */
.hover\:pause-on-hover:hover {
  animation-play-state: paused;
}
